body {
  background-image: url(img/5.jpg);
  background-size: cover;
  background-position: 20% 30%;
  background-repeat: no-repeat;
}

.nav-link:hover{
  color: rgb(255, 131, 131);
}

.nav-link {
  color: white;
}

.breadcrumb {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.responsive {
    padding: 0px 6px 20px 0px;
    width: 80%;
    margin: 3% 10% 0% 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 39, 3);
    box-shadow: 8px 8px rgb(116, 96, 70);
    margin-bottom: 100px;
  }

.title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: rgb(54, 39, 3);
}

.text p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    padding: 1px 0px 0px 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
  background-color: rgb(41, 40, 39);
  color: rgb(247, 189, 123);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
} 


  
  @media only screen and (max-width: 985px) {
    .responsive {
      width: 80%;
      margin: 10% 0% 0% 10%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .responsive {
      width: 100%;
      margin: 5% 0% 0% 0%;
    }
  }